* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #c6ff6a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

main {
    background-image: url("../assets/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
}

#paginas {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

p {
    font-size: 0.8em;
}

label {
    font-size: 0.8em;
}

a {
    font-size: 0.8em;
    text-decoration: none;
}

#introduccion {
    padding: 15px;
}

#introduccion p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cuerpo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-left: 0px;
    padding-right: 100px;
}

.botones {
    background-color: #c6ff6a;
    border: black 1px solid;
    border-radius: 25%;
    width: 10%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 50px;
}

.enlaces {
    background-color: #c6ff6a;
    border: black 1px solid;
    border-radius: 25%;
    width: 200px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 100px;
}

.botones p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.6em;
}

.botones a {
    font-size: 0.6em;
}

#cauciones {
    width: 75px;
}

#letras {
    width: 75px;
}

#bonos {
    width: 75px;
}

#ON {
    width: 75px;
}

#acciones {
    width: 75px;
}

#cedears {
    width: 75px;
}

#informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    height: auto;
    background-image: url(../assets/postitSmall.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
}

#informacion p {
    width: 200px;
    align-self: center;
}

#info {
    font-size: 0.5em;
    width: 60%;
}

#calculadora {
    align-self: center;
    margin-top: 2px;
    width: 100%;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-content: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

input {
    margin-bottom: 50px;
}

#bono {
    margin-bottom: 50px;
}

button {
    display: block;
    padding: 10px;
    margin-bottom: 50px;
    background-color: #c6ff6a;
    border-radius: 4px;
}

#instrucciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #e3fc5a;
    width: 50%;
    margin-right: 100px;
}

#volver {
    width: 100px;
    margin-left: 100px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

#selector {
    display: none;
}

#ver {
    display: none;
}

footer {
    background-color: #c6ff6a;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton {
    align-self: center;
    margin-top: 2px;
    font-size: 0.5em;
    width: 100%;
}

#datos {
    display: flex;
    justify-content:flex-start;
    align-items: space-between;
    margin-left: 50px;
}

i {
    font-size: 2em;
    text-decoration: none;
    color: black;
}

@media (min-width: 600px) {
    p {
        font-size: 1em;
    }

    label {
        font-size: 1em;
    }

    a {
        font-size: 1em;
    }

    #info {
        font-size: small;
        width: 100%;
    }

    #informacion {
        background-image: url("../assets/postit.png");
    }

    .botones {
        height: 100px;
    }

    .botones p {
        font-size: 1em;
    }

    #cauciones {
        width: 150px;
    }
    
    #letras {
        width: 150px;
    }
    
    #bonos {
        width: 150px;
    }
    
    #ON {
        width: 150px;
    }
    
    #acciones {
        width: 150px;
    }
    
    #cedears {
        width: 150px;
    }

    #formulario {
        margin-left: 500px;
    }

    #instrucciones {
        margin-left: 500px;
    }

    #volver {
        margin-left: 500px;
    }
}